<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Chaos Playground" suffix="" phx-no-format>{assigns[:page_title]}</.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/images/favicon.svg"} />
    <link rel="alternate icon" href={~p"/favicon.ico"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script src={~p"/theme.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
